<li id="apps">
  <%= link_to apps_posts_path do %>
    <i class="fas fa-mobile-alt" aria-hidden="true"></i> Discuss apps
  <% end %>
</li>


<li id="companies">
  <%= link_to companies_posts_path do %>
    <i class="far fa-building" aria-hidden="true"></i> Discuss companies
  <% end %>
</li>

<li id="inventions">
  <%= link_to inventions_posts_path do %>
    <i class="fas fa-wrench" aria-hidden="true"></i> Discuss inventions 
  <% end %>
</li>
